extends ../layout

include ../shared/popup
include ../shared/book-templates

block header
  link(rel='stylesheet', href='/stylesheets/book/style.css')

block outer
  +popup('edit', 'Edit book', 'Edit')
    +bookForm('edit')
  +popup('reader', 'Change reader', 'Set', 'Delete')
    +bookReaderForm('reader')
  +popup('delete', 'Delete book', 'Yes', 'No')
    p Are you sure you want to delete this book?
  +bottomNavigationBar()
    +showPopupButton('edit', 'Edit book')
    +showPopupButton('reader', 'Change reader')
    +showPopupButton('delete', 'Delete book')

block content
  span(id='isbn')= isbn
  div(id='book-details-container')
    b(id='book-title') Title
    span(id='book-author') Author
    span(id='book-year') Year

block scripts
  script(src='/scripts/book/details.js' type='module')
