extends ../layout

include ../shared/popup
include ../shared/book-templates

block header
  link(rel='stylesheet', href='/stylesheets/book/style.css')

block outer
  +popup('edit', 'Edit book', 'Edit')
    +bookForm('edit')
  +bottomNavigationBar()
    +showPopupButton('edit', 'Edit book')

block content
  span(id='isbn')= isbn
  div(id='book-details-container')
    b(id='book-title') Title
    span(id='book-author') Author
    span(id='book-year') Year
    button(id='delete-book-button') Delete

block scripts
  script(src='/scripts/book/details.js' type='module')
