extends ../layout

include ../shared/popup

block header
  link(rel='stylesheet', href='/stylesheets/book/style.css')

block outer
  +popup('Add book', 'Add book', 'Add')

block content
  table(id='book-table', border='1')
    tr
      th(class='sortable' id='title-sort' data-sort='title')
        i(class='sort-icon fa-solid fa-sort')
        span Title
      th(class='sortable' id='author-sort' data-sort='author')
        i(class='sort-icon fa-solid fa-sort')
        span Author
      th(class='sortable' id='year-sort' data-sort='year')
        i(class='sort-icon fa-solid fa-sort')
        span Year
    for book, i in []
      tr
        td
          a(href='/book/' + index.isbn)= index.title
        td= index.author
        td= index.year

block scripts
  script(src='/scripts/book/index.js' type='module')
