extends ../layout

include ../shared/popup

mixin tableHeader(id, dataSort, text)
  th(class='sortable' id=id data-sort=dataSort)
    i(class='sort-icon fa-solid fa-sort')
    span= text

block header
  link(rel='stylesheet', href='/stylesheets/book/style.css')

block outer
  +popup('Add book', 'Add book', 'Add')

block content
  table(id='book-table', border='1')
    tr
      +tableHeader('title-sort', 'title', 'Title')
      +tableHeader('author-sort', 'author', 'Author')
      +tableHeader('year-sort', 'year', 'Year')

block scripts
  script(src='/scripts/book/index.js' type='module')
