extends ../layout

include ../shared/popup
include ../shared/book-templates

mixin tableHeader(id, dataSort, text)
  th(class='sortable' id=id data-sort=dataSort)
    i(class='sort-icon fa-solid fa-sort')
    span= text

block header
  link(rel='stylesheet', href='/stylesheets/book/style.css')

block outer
  +popup('add', 'Add book', 'Add')
    +bookForm('add')
  +popup('filter', 'Filter books', 'Filter')
    +filterBooksForm('Filter books')
  +bottomNavigationBar()
    +showPopupButton('add', 'Add book')
    +showPopupButton('filter', 'Filter books')

block content
  table(id='book-table', border='1')
    tr
      +tableHeader('title-sort', 'title', 'Title')
      +tableHeader('author-sort', 'author', 'Author')
      +tableHeader('year-sort', 'year', 'Year')
      +tableHeader('due-data-sort', 'dueDate', 'Due date')

block scripts
  script(src='/scripts/book/index.js' type='module')
