extends layout

block content
  h1= message
  if error && error.status
    h2 Error status: #{error.status}
  else
    h2 Error status is missing
  if error && error.stack
    pre Error stack: #{error.stack}
  else
    pre Error stack is missing
