doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/70cc56d035.js" crossorigin="anonymous")
    block header
  body
    block outer
    div(class='header')
      a(href='/' class='nav-link')
        i(class='fa-solid fa-house')
        span Home
      a(href='/book' class='nav-link')
        i(class='fa-solid fa-book')
        span Books
    div(class='container')
      block content
    block scripts
